apache-airflow-providers-celery==3.7.2
apache-airflow-providers-postgres==5.11.3
apache-airflow-providers-amazon==8.25.0
apache-airflow-providers-http==4.12.0
requests==2.32.3
pydantic==2.8.2
pydantic-settings==2.4.0
tenacity==8.5.0
boto3==1.35.0
pandas==3.0.2
great_expectations==1.19.0
